
body{
    font-family: "Poppins";
}
.bg-color{
    background: linear-gradient(to right,#FFA453,#FFD0A7);
}
.heading{
    font-size: 4.2rem;
    color: white;
    font-weight: 700;
}
.sub-heaading{
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
}